//Created by hugo on 01/02/2017.

extends layout

block content
    h1 Dashboard page
    select(name="partitionSelect", id="partitionID", onchange="chartUpdate()")
        option(value=-1) Choose partition here
        option(value=0) 93 Maple Avenue, Warwick, United States of America
        option(value=1) 20 Rue du Port, La Rochelle, France
        option(value=2) 42 rue Saint-Claude, La Rochelle, France
        option(value=3) 1382 Kings Highway, Sugar-Loaf, United States of America
        br
    div(class='panel panel-default')
        div(class='panel-body')
            div(id='chart')
                script.
                    function chartUpdate() {
                        var sensors = !{sensorlist}
                        console.log(JSON.stringify(sensors));
                        console.log(sensors[1]);
                        var lights = ['light'],
                            time = ['time'],
                            lazers = ['motion'],
                            mailTotal = 0;

                        sensors.forEach(function (item, index) {
                            if (document.getElementById("partitionID").value != -1) {
                                if (item.type == "Light" && item.partition == document.getElementById("partitionID").value) {
                                    lights.push(item.value);
                                    time.push(item.time);
                                }
                                else if (item.type == "Laser" && item.partition == document.getElementById("partitionID").value) {
                                    mailTotal = mailTotal + item.value;
                                    lazers.push(item.value);
                                    time.push(item.time);
                                }
                            }
                        })

                        var chart = c3.generate({
                            bindto: '#chart',
                            data: {
                                columns: [
                                    lights,
                                    lazers
                                ],
                                axes: {
                                    motion: 'y2'
                                },
                                types: {
                                    motion: 'bar'
                                }
                            },
                            axis: {
                                y: {
                                    label: {
                                        text: 'Amount of light',
                                        position: 'outer-middle',
                                        max: 10,
                                        min: 0,
                                        padding: {top: 0, bottom: 0}
                                    }
                                },
                                y2: {
                                    label: {
                                        text: 'Motion sensor tripped',
                                        position: 'outer-middle',
                                        max: 1,
                                        min: 0,
                                        padding: {top: 0, bottom: 0}
                                    },
                                    show: true
                                }
                            }
                        });
                        document.getElementById("mailTotalID").innerHTML = "Recu un total de " + mailTotal + " lettres.";
                    }

            p(id="mailTotalID")

            button#sendMail.btn.btn-primary(type = "button") Send a summary  mail

            script(type="text/javascript").
                $(document).ready(function () {
                    $('#sendMail').click(function () {
                        $('#sendMail').after("<p>Sending mail ...</p>");
                        $.ajax({
                            url: "http://localhost:3000/sendEmail",
                            method: "POST",
                            dataType: "json",
                            data: {
                                html: $('html')[0].outerHTML
                            },
                            success: function () {
                                $('#sendMail').after("<p>Mail success !</p>");
                            },
                            error: function () {
                                $('#sendMail').after("<p>There was an error sending the mail</p>");
                                console.log($('html')[0].outerHTML)
                            }
                        })
                    });
                });


