extends layout

block content
  header
    .container
      .row
        .col-sm-7
          .header-content
            .header-content-inner
              h1
                | Tyson: the smarter boxer.
              br
              h2
                | It's time we brought the mailbox into the 21st century!
              br
              br
              br
              br
              br
              br
              br
              br
              a.btn.btn-outline.btn-xl.page-scroll(href='/dashboard') Access your Tyson dashboard
        .col-sm-5
          .device-container
            .device-mockup.iphone6_plus.portrait.black
              .device
                .screen
                  // Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else!
                  img.img-responsive(src='images/tysonHome1.png', alt='')
                .button
                  // You can hook the "home button" to some JavaScript events or just remove it
  section#download.download.bg-primary.text-center
    .container
      .row
        .col-md-8.col-md-offset-2
          h2.section-heading Get the app to monitor your Tyson system!
          p Our app is available on any mobile device! Download now to get started!
          .badges
            a.badge-link(href='#')
              img.appStore(src='images/google-play-badge.svg', alt='')
            a.badge-link(href='#')
              img.appStore(src='images/app-store-badge.svg', alt='')
  section#features.features
    .container
      .row
        .col-lg-12.text-center
          .section-heading
            h2 More than just a mailbox!
            p.text-muted Check out what you can do with Tyson!
            hr
      .row
        .col-md-4
          .device-container
            .device-mockup.iphone6_plus.portrait.white
              .device
                .screen
                  // Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else!
                  img.img-responsive(src='images/tysonHome1.png', alt='')
                .button
                  // You can hook the "home button" to some JavaScript events or just remove it
        .col-md-8
          .container-fluid
            .row
              .col-md-6
                .feature-item
                  i.icon-graph.text-primary
                  h3 Track your data
                  p.text-muted See when and where mail was delivered!
              .col-md-6
                .feature-item
                  i.icon-organization.text-primary
                  h3 Flexible Use
                  p.text-muted The Tyson system can also be used in commercial environments!
            .row
              .col-md-6
                .feature-item
                  i.icon-present.text-primary
                  h3 Professional installation
                  p.text-muted Our trained specialists will do all the hard work!
              .col-md-6
                .feature-item
                  i.icon-earphones-alt.text-primary
                  h3 Outstanding support
                  p.text-muted We know if there's an issue with your box before your do!
  section.cta
    .cta-content
      .container
        h2
          | Discover what Tyson can do for you now
        a.btn.btn-outline.btn-xl.page-scroll(href='#contact') Let's Get Started!
    .overlay
  section#contact.contact.bg-primary
    .container
      h2
        | We
        i.fa.fa-heart
        |  feedback!
      ul.list-inline.list-social
        li.social-twitter
          a(href='#')
            i.fa.fa-twitter
        li.social-facebook
          a(href='#')
            i.fa.fa-facebook
        li.social-google-plus
          a(href='#')
            i.fa.fa-google-plus
  footer
    .container
      p © 2017 Tyson inc. All Rights Fictional.
      ul.list-inline
        li
          a(href='#') Privacy
        li
          a(href='#') Terms
        li
          a(href='#') FAQ
  // Plugin JavaScript
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
  // Theme JavaScript
  script(src='js/index.js')
