doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css", rel="stylesheet")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/simple-line-icons/css/simple-line-icons.css')
    link(rel='stylesheet', href='/device-mockups/device-mockups.min.css')
    script(src="https://d3js.org/d3.v3.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js")
    script(src="http://code.jquery.com/jquery-3.1.1.min.js")
  body
    nav#mainNav.navbar.navbar-default.navbar-fixed-top
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            |  Menu
            i.fa.fa-bars
          a.navbar-brand.page-scroll(href='#page-top') Start Bootstrap
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-left
            li
              a.page-scroll(href='/') Tyson
          ul.nav.navbar-nav.navbar-right
            li
              a.page-scroll(href='/dashboard') Dashboard
            li
              a.page-scroll(href='/OMC') OMC
            li
              a.page-scroll(href='/login') Login
            li
              a.page-scroll(href='/signup') Create an Account
    block content
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
