//
   Created by hugo on 14/02/2017.

extends layout

block content
    br
    br
    br
    br
    form(id="login", method="POST", action="/login")
        label(for='username') User Name
        input#username(type='text', name='username')
        label(for='password') Password
        input#password(type='password', name='password')
        input(type="submit", value="Log In")

h1!=message
