//
   Created by hugo on 14/02/2017.
extends layout

block content
    button.btn.btn-primary(type='button', onclick='expandPostForm()') Create
    form(id='postForm' style='display:none')
        div.form-group
            label(for='PartitionSelect') Select Partition
            select(class='form-control',id='PartitionSelect')
                option Choose partition here
                option(value=0) 93 Maple Avenue, Warwick, United States of America
                option(value=1) 20 Rue du Port, La Rochelle, France
                option(value=2) 42 rue Saint-Claude, La Rochelle, France
                option(value=3) 1382 Kings Highway, Sugar-Loaf, United States of America
        div.form-group
            label(for='TypeSelect') Select sensor Type
            select(class='form-control', id='TypeSelect', onchange='chooseSensType()')
                option(value= 0) Select a sensor type
                option(value='lightDiv') Light
                option(value='lazerDiv') Motion

        div.form-group(id='lightDiv', style='display:none')
            label.form-check-label(for='lightForm') Select light intensity from 0 to 10:
            input(type='number', min='0', max='10', step='1', value='0', id='lightForm')
        div(id='lazerDiv', style='display:none')
            fieldset.form-group
                legend Has the motion sensor been tripped?
                div.form-check
                    label.form-check-label
                        input.form-check-input(type='radio', id='motionNotTripped', name='optionsRadios', value='0', checked='')
                    |       No
                div.form-check
                    label.form-check-label
                        input.form-check-input(type='radio', id='motionTripped', name='optionsRadios', value='1')
                    |       Yes
        button.btn.btn-success(type='submit', onclick='OMCpost()') Send Sensor Data
    br
    br

    button.btn(type='button', onclick='expandReadList()') Read
    div(id='readList',style='display:none')
            script.
                var sensors = !{sensorlist};
                var list = document.createElement('ul');
                for(var i = 0; i < 100; i++){
                    var partition = document.createElement('li');
                    partition.appendChild(document.createTextNode("Sensor partition: " + sensors[i].partition));
                    var type = document.createElement('li');
                    type.appendChild(document.createTextNode("Sensor type: " + sensors[i].type));
                    var value = document.createElement('li');
                    value.appendChild(document.createTextNode("Sensor value: " + sensors[i].value));
                    list.appendChild(partition);
                    list.appendChild(type);
                    list.appendChild(value);
                }
    br
    br

    button.btn.btn-warning(type='button', onclick='expandPutForm()') Update
    div(id='putform',style='display:none')
        select(name="partitionSelect", id="partitionID", onchange="partitionSelect()")
            option(value=-1) Choose partition here
            option(value=0) 93 Maple Avenue, Warwick, United States of America
            option(value=1) 20 Rue du Port, La Rochelle, France
            option(value=2) 42 rue Saint-Claude, La Rochelle, France
            option(value=3) 1382 Kings Highway, Sugar-Loaf, United States of America
            br
        select(name="sensorSelect", id="sensorPutID", style='display:none')
            script.
                var sensors = !{sensorlist};
                var sel = document.getElementById('sensorPutID');
                var fragment = document.createDocumentFragment();

                sensors.forEach(function (sensor, index) {
                    if(sensor.partition === document.getElementById('partitionID').value && document.getElementById('partitionID').value !== -1) {
                        var opt = document.createElement('option');
                        opt.innerHTML = sensor._id;
                        opt.value = sensor._id;
                        fragment.appendChild(opt);
                    }
                });
                sel.appendChild(fragment);
    br
    br

    button.btn.btn-danger(type='button', onclick='OMCdelete()') Delete
    div(id='deleteform',style='display:none')
        select(name="partitionSelect", id="partitionDeleteID", onchange="partitionSelectDelete()")
            option(value=-1) Choose partition here
            option(value=0) 93 Maple Avenue, Warwick, United States of America
            option(value=1) 20 Rue du Port, La Rochelle, France
            option(value=2) 42 rue Saint-Claude, La Rochelle, France
            option(value=3) 1382 Kings Highway, Sugar-Loaf, United States of America
            br
        select(name="sensorSelect", id="sensorDeleteID", style='display:none')
            script.
                var sensors = !{sensorlist};
                var sel = document.getElementById('sensorPutID');
                var fragment = document.createDocumentFragment();

                sensors.forEach(function (sensor, index) {
                    if (sensor.partition === document.getElementById('partitionID').value && document.getElementById('partitionID').value !== -1) {
                        var opt = document.createElement('option');
                        opt.innerHTML = sensor._id;
                        opt.value = sensor._id;
                        fragment.appendChild(opt);
                    }
                });
                sel.appendChild(fragment);
    br
    br

    script.
        var sensors = !{sensorlist};
        var sensorCount = sensors.length;


        function expandPostForm() {
            document.getElementById('postForm').style.display = 'block';
        }
        function chooseSensType() {
            console.log(document.getElementById('TypeSelect'.value));
            if(document.getElementById('TypeSelect').value === 'lightDiv'){
                document.getElementById('lazerDiv').style.display = 'none';
                document.getElementById('lightDiv').style.display = 'block';
            } if(document.getElementById('TypeSelect').value === 'lazerDiv') {
                document.getElementById('lightDiv').style.display = 'none';
                document.getElementById('lazerDiv').style.display = 'block';
            } if(document.getElementById('TypeSelect').value === '0') {
                document.getElementById('lazerDiv').style.display = 'none';
                document.getElementById('lightDiv').style.display = 'none';
            }
        }
        function OMCpost() {
            sensorCount++;
            var dataVar;
            if(document.getElementById('TypeSelect').value === 'lightDiv') {
                dataVar = {
                    "sensorID": sensorCount,
                    "partition": document.getElementById('PartitionSelect').value,
                    "type": "Light",
                    "value": document.getElementById('lightForm').value
                };
            } if(document.getElementById('TypeSelect').value === 'lazerDiv') {
                if(document.getElementById('motionNotTripped').checked) {
                    dataVar = {
                        "sensorID": sensorCount,
                        "partition": document.getElementById('PartitionSelect').value,
                        "type": "Laser",
                        "value": 0
                    };
                } if(document.getElementById('motionTripped').checked) {
                    dataVar = {
                        "sensorID": sensorCount,
                        "partition": document.getElementById('PartitionSelect').value,
                        "type": "Laser",
                        "value": 1
                    };
                }
            }
            $.ajax({
                url: "http://localhost:3000/sensors/create",
                method: "POST",
                dataType: "json",
                data: dataVar
            })
        }


        function expandReadList() {
            document.getElementById('readList').style.display = 'block';
        }


        function expandPutForm() {
            document.getElementById('putform').style.display = 'block';
        }
        function partitionSelect() {
            document.getElementById('sensorPutID').style.display = 'block';
        }

        function explandDeleteForm() {
            document.getElementById('deleteform').style.display = 'block';
        }
        function partitionSelectDelete() {
            document.getElementById('sensorDeleteID').style.display = 'block';
        }