//
   Created by hugo on 01/03/2017.

extends layout

block content
    .span3
        h2 Create your Tyson account
        form(id="signup", method="POST", action="/signup")
            label First Name
            input.span3(type='text', name='firstname')
            label Last Name
            input.span3(type='text', name='lastname')
            label Email Address
            input.span3(type='email', name='email')
            label Username
            input.span3(type='text', name='username')
            label Password
            input.span3(type='password', name='password')
            select(name="userLevelSelect", required='')
                option(value='') Choose access level
                option(value=0) Demo account
                option(value=1) Standard user
                option(value=2) Administrator
            input.btn.btn-primary.pull-right(type='submit', value='Sign up')
            .clearfix